* {
  font-family: 'Microsoft YaHei', STHeiti, sans-serif;
  margin: 0;
  padding: 0;
}
html,
body {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
}
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: underline;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #2f4050;
}
.header h1 {
  font-size: 36px;
  line-height: 80px;
  margin-left: 20px;
  padding-left: 90px;
  color: #79bbff;
  background: transparent url('../icon/logo128.png') no-repeat left center;
  background-size: 70px 70px;
}
.header .search-box {
  position: absolute;
  top: 20px;
  right: 20px;
}
.header .search-box i {
  font-size: 25px;
  position: absolute;
  top: 6px;
  left: 20px;
  color: #c8c8c8;
}
.header .search-box input {
  font-size: 16px;
  line-height: 36px;
  box-sizing: border-box;
  width: 300px;
  padding: 0 20px 0 55px;
  border: 1px solid #ccc;
  border-radius: 23px;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.content {
  position: absolute;
  top: 80px;
  bottom: 0;
  overflow-y: auto;
  width: 100%;
}
.content .sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #2f4050;
}
.content .sidebar ul {
  list-style: none;
}
.content .sidebar ul li {
  font-size: 20px;
  line-height: 30px;
  height: 30px;
  padding: 20px 30px 20px 0;
  cursor: pointer;
  text-align: right;
  color: #fff;
}
.content .sidebar ul li:hover {
  background-color: #a6d2ff;
}
.content .sidebar ul li.active {
  background-color: #79bbff;
}
.content .tab-content {
  margin-left: 200px;
}
.content .tab-content .tab-pane {
  display: none;
}
.content .tab-content .tab-pane.active {
  display: block;
}
.content .tab-content .tab-pane .article-box .content-list {
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 #c8c8c8;
}
.content .tab-content .tab-pane .article-box .content-list .content-list-title {
  font-size: 17px;
  float: left;
  padding: 10px 0 0 10px;
  border-left: 7px solid skyblue;
}
.content .tab-content .tab-pane .article-box .content-list .content-list-date {
  font-size: 12px;
  float: right;
  margin: 15px 30px 0 0;
  color: #6c6c6c;
}
.content .tab-content .tab-pane .article-box .content-list .content-list-content {
  font-size: 14px;
  clear: both;
  overflow: hidden;
  padding: 10px 20px;
}
.content .tab-content .tab-pane .article-box .content-list .content-list-footer {
  font-size: 13px;
  line-height: 30px;
  height: 30px;
  margin-top: 20px;
  padding-left: 20px;
  border-top: 1px solid #f2f2f5;
}
.content .tab-content .tab-pane .article-box .content-list .content-list-footer a {
  margin: 0 20px 0 10px;
  cursor: pointer;
  text-decoration: none;
  color: #38f;
}
.content .tab-content .tab-pane .article-box .content-list-empty {
  font-size: 20px;
  margin-top: 50px;
  text-align: center;
  color: #555;
}
.content .tab-content .tab-pane .article-box .btn-box-center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 135px;
  margin-top: -67.5px;
  margin-left: -250px;
}
.content .tab-content .tab-pane .article-box .btn-box-center button {
  font-size: 72px;
  display: inline-block;
  padding: 20px;
  cursor: pointer;
  transition: .5s;
  color: #fff;
  border: 0;
  border-radius: 5px;
  background: #1a7bb9;
  outline: none;
}
.content .tab-content .tab-pane .article-box .btn-box-center button:hover {
  transform: scale(1.1);
}
.content .tab-content .tab-pane .article-box .btn-box-center div {
  font-size: 16px;
  display: inline-block;
  margin-left: 30px;
}
.content .tab-content .tab-pane .article-box .btn-box-center div b {
  font-size: 18px;
}
.content .tab-content .tab-pane .new-article,
.content .tab-content .tab-pane .edit-article {
  height: 100%;
}
.content .tab-content .tab-pane .new-article input,
.content .tab-content .tab-pane .edit-article input {
  font-size: 24px;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
}
.content .tab-content .tab-pane .new-article .func-btn-box,
.content .tab-content .tab-pane .edit-article .func-btn-box {
  position: relative;
  top: 10px;
  left: 20px;
}
.content .tab-content .tab-pane .new-article .area-holder,
.content .tab-content .tab-pane .edit-article .area-holder {
  margin-top: 20px;
}
.content .tab-content .tab-pane .new-article .area-holder textarea,
.content .tab-content .tab-pane .edit-article .area-holder textarea {
  position: absolute;
  top: 0;
  bottom: 200px;
  box-sizing: border-box;
  width: 100%;
}
.content .tab-content .tab-pane .new-article .btn,
.content .tab-content .tab-pane .edit-article .btn {
  font-size: 16px;
  margin-right: 20px;
  padding: 8px 50px;
  cursor: pointer;
  transition: .5s;
  border: 0;
  border-radius: 3px;
  background: #bababa;
}
.content .tab-content .tab-pane .new-article .btn:hover,
.content .tab-content .tab-pane .edit-article .btn:hover {
  transform: scale(1.1);
}
.content .tab-content .tab-pane .new-article .btn-primary,
.content .tab-content .tab-pane .edit-article .btn-primary {
  color: #fff;
  background-color: #18a689;
}